@using E.DataLinq.Core
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=9,10,edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>@ViewBag.Title</title>
    <environment names="Development">
        <link href="~/_content/E.DataLinq.Code/css/datalinq-code.css?@(DataLinqVersion.CssVersion)" rel="stylesheet" />
    </environment>

    <environment names="Staging,Production">
        <link href="~/_content/E.DataLinq.Code/css/datalinq-code.css?@(DataLinqVersion.CssVersion)" rel="stylesheet" />
    </environment>
</head>
<body style="overflow:auto">

    <script src="~/_content/E.DataLinq.Code/lib/jquery/jquery.min.js"></script>
    <script src="~/_content/E.DataLinq.Code/js/datalinq-code.js?@(DataLinqVersion.JsVersion)"></script>
    <script src="~/_content/E.DataLinq.Code/js/datalinq-code.events.js?@(DataLinqVersion.JsVersion)"></script>
    <script src="~/_content/E.DataLinq.Code/js/datalinq-code.ui.tree.js?@(DataLinqVersion.JsVersion)"></script>
    <script src="~/_content/E.DataLinq.Code/js/datalinq-code.ui.editor.js?@(DataLinqVersion.JsVersion)"></script>
    <script src="~/_content/E.DataLinq.Code/js/datalinq-code.ui.modal.js?@(DataLinqVersion.JsVersion)"></script>
    <script src="~/_content/E.DataLinq.Code/js/datalinq-code.ui.toolbar.js?@(DataLinqVersion.JsVersion)"></script>
    <script src="~/_content/E.DataLinq.Code/js/datalinq-code.ui.blockframe.js?@(DataLinqVersion.JsVersion)"></script>

    @RenderBody()

    @RenderSection("scripts", required: false)

</body>
</html>
