
<div class="datalinq-code-sidebar datalinq-code-panel ">
    <div class="datalinq-code-tree-top">
        <div class="datalinq-code-tee-title">
            DataLinq.Code
        </div>
        <div class="datalinq-code-tree-collapse-button">

        </div>
        <div class="datalinq-code-tree-toolbar">

        </div>
    </div>
    <div class="datalinq-code-tree-container">

    </div>
</div>