/*
 * PDF report - Page numbers, date/time stamps and page center guide lines.
 */

.page-number {
    position: absolute;
    bottom: 0;
    padding: 50px;
    margin: 0;
    z-index:10;
}

    .page-number.position-0 {
        left: 0;
    }

    .page-number.position-1 {
        left: 50%;
        transform: translateX(-50%);
    }

    .page-number.position-2 {
        right: 0;
    }

.page-dateTime {
    position: absolute;
    bottom: 0;
    padding: 50px;
    margin: 0;
    z-index: 10;
}

    .page-dateTime.position-0 {
        left: 0;
    }

    .page-dateTime.position-1 {
        left: 50%;
        transform: translateX(-50%);
    }

    .page-dateTime.position-2 {
        right: 0;
    }

.vertical-middle-line {
    border-left: 1px solid red;
    height: 100%;
    position: absolute;
    left: 50%;
    display: none;
    z-index: 1000;
}

.horizontal-middle-line {
    border-top: 1px solid red;
    width: 100%;
    position: absolute;
    top: 50%;
    display: none;
    z-index: 1000;
}

.hidden {
    display: none;
}
