@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DataLinq</h1>
    <p>
        Use the DataLinq.Code application to create DataLinq Endpoints, Queries and Views...
    </p>
</div>
