/* DataLinq Code - Open tabs, app prefixes, endpoint selection */

.datalinq-code-open-tabs,
.datalinq-code-app-prefixes {
    list-style: none;
    padding: 0px;
}

    .datalinq-code-open-tabs .datalinq-code-tab,
    .datalinq-code-app-prefixes .datalinq-code-app-prefix {
        height: 45px;
        cursor: pointer;
        color: #eee;
        border-bottom: 1px solid #777;
        background-position: 4px center;
        background-repeat: no-repeat;
        background-size: 16px 16px;
        padding: 4px 36px 4px 30px;
        box-sizing: border-box;
        position: relative;
    }

        .datalinq-code-open-tabs .datalinq-code-tab:hover,
        .datalinq-code-app-prefixes .datalinq-code-app-prefix:hover {
            background-color: #777;
        }

        .datalinq-code-open-tabs .datalinq-code-tab.start {
            background-image: url(../../img/home_16@1.png);
        }

        .datalinq-code-open-tabs .datalinq-code-tab.endpoint {
            background-image: url(../../img/endpoint_16@1.png);
        }

    .datalinq-code-app-prefixes .datalinq-code-app-prefix {
        background-image: url(../../img/endpoint_16@2.png);
        background-size: auto;
        padding: 4px 36px 4px 36px;
    }
        .datalinq-code-app-prefixes .datalinq-code-app-prefix.checked {
            background-color:#333;
        }

.datalinq-code-modal-input.datalinq-code-endpoint-select-filter {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 0 8px 0;
}

    .datalinq-code-modal-input.datalinq-code-endpoint-select-filter::placeholder {
        color: #ddd;
        opacity: 1;
    }

.datalinq-code-modal.colorscheme-light .datalinq-code-modal-input.datalinq-code-endpoint-select-filter::placeholder {
    color: #888;
}

.datalinq-code-endpoint-select .datalinq-code-app-prefix {
    background-image: none;
    padding-left: 30px;
}

.datalinq-code-endpoint-select .datalinq-code-app-prefix.endpoint {
    height: 32px;
}

.datalinq-code-endpoint-select .datalinq-code-app-prefix.folder {
    font-weight: bold;
    padding-left: 48px;
}

.datalinq-code-endpoint-select .datalinq-code-app-prefix .icon {
    position: absolute;
    left: 8px;
    top: 8px;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px 14px;
}

.datalinq-code-endpoint-select .datalinq-code-app-prefix.endpoint .icon {
    background-image: url(../../img/endpoint_16@1.png);
}

.datalinq-code-endpoint-select .datalinq-code-app-prefix.folder .icon {
    left: 28px;
    background-image: url(../../img/folder-icon.svg);
    filter: brightness(0) invert(1);
}

.datalinq-code-endpoint-select .datalinq-code-app-prefix.folder .expander {
    position: absolute;
    left: 4px;
    top: 4px;
    width: 20px;
    height: 22px;
    line-height: 22px;
    font-size: 18px;
    text-align: center;
    color: #ccc;
}

    .datalinq-code-endpoint-select .datalinq-code-app-prefix.folder .expander::before {
        content: '\25BE';
    }

    .datalinq-code-endpoint-select .datalinq-code-app-prefix.folder.collapsed .expander::before {
        content: '\25B8';
    }

.datalinq-code-modal.colorscheme-light .datalinq-code-endpoint-select .datalinq-code-app-prefix.folder .icon {
    filter: none;
}

.datalinq-code-endpoint-select .datalinq-code-app-prefix.partial .checkbox {
    opacity: .6;
    background-image: url(../../img/checkbox-checked_16@1.png);
}

.datalinq-code-endpoint-select-children {
    list-style: none;
    padding: 0 0 0 20px;
}

        .datalinq-code-open-tabs .datalinq-code-tab.query {
            background-image: url(../../img/query_16@1.png);
        }

        .datalinq-code-open-tabs .datalinq-code-tab.view {
            background-image: url(../../img/code-markup_16@1.png);
        }

        .datalinq-code-open-tabs .datalinq-code-tab .text,
        .datalinq-code-app-prefixes .datalinq-code-app-prefix .text {
            font-size: 12.5px;
        }
        .datalinq-code-open-tabs .datalinq-code-tab .subtext,
        .datalinq-code-app-prefixes .datalinq-code-app-prefix .subtext{
            font-size: 10.5px;
            color: #ccc;
        }

        .datalinq-code-open-tabs .datalinq-code-tab .checkbox,
        .datalinq-code-app-prefixes .datalinq-code-app-prefix .checkbox {
            position: absolute;
            right: 4px;
            top: 4px;
            width: 26px;
            height: 32px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 16px 16px;
            background-image: url(../../img/checkbox-unchecked_16@1.png);
        }

            .datalinq-code-open-tabs .datalinq-code-tab .checkbox.checked,
            .datalinq-code-app-prefixes .datalinq-code-app-prefix.checked .checkbox {
                background-image: url(../../img/checkbox-checked_16@1.png);
            }
            .datalinq-code-open-tabs .datalinq-code-tab.dirty .checkbox {
                background-image: url(../../img/dot-red_16@1.png);
            }
            .datalinq-code-open-tabs .datalinq-code-tab.errors .checkbox {
                background-image: url(../../img/warning_red_16@1.png);
            }


        .datalinq-code-open-tabs .datalinq-code-tab .datalinq-code-button {
            padding: 4px 10px;
            margin-top: 4px;
        }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .datalinq-code-ide .datalinq-code-content .datalinq-code-tabs .datalinq-code-tab.start {
        background-image: url(../../img/home_16@2.png);
    }

    .datalinq-code-ide .datalinq-code-content .datalinq-code-tabs .datalinq-code-tab.endpoint {
        background-image: url(../../img/endpoint_16@2.png);
    }

    .datalinq-code-ide .datalinq-code-content .datalinq-code-tabs .datalinq-code-tab.query {
        background-image: url(../../img/query_16@2.png);
    }

    .datalinq-code-ide .datalinq-code-content .datalinq-code-tabs .datalinq-code-tab.view {
        background-image: url(../../img/code-markup_16@2.png);
    }

    .datalinq-code-ide .datalinq-code-content .datalinq-code-tabs .datalinq-code-tab-selector {
        background-image: url(../../img/triangle-down_26@2.png);
    }

    .datalinq-code-open-tabs .datalinq-code-tab.start {
        background-image: url(../../img/home_16@2.png);
    }

    .datalinq-code-open-tabs .datalinq-code-tab.endpoint {
        background-image: url(../../img/endpoint_16@2.png);
    }

    .datalinq-code-open-tabs .datalinq-code-tab.query {
        background-image: url(../../img/query_16@2.png);
    }

    .datalinq-code-open-tabs .datalinq-code-tab.view {
        background-image: url(../../img/code-markup_16@2.png);
    }

    .datalinq-code-open-tabs .datalinq-code-tab .checkbox {
        background-image: url(../../img/checkbox-unchecked_16@2.png);
    }

        .datalinq-code-open-tabs .datalinq-code-tab .checkbox.checked {
            background-image: url(../../img/checkbox-checked_16@2.png);
        }

        .datalinq-code-open-tabs .datalinq-code-tab.dirty .checkbox {
            background-image: url(../../img/dot-red_16@2.png);
        }

        .datalinq-code-open-tabs .datalinq-code-tab.errors .checkbox {
            background-image: url(../../img/warning_red_16@2.png);
        }
}

                .datalinq-code-ide .datalinq-code-content .datalinq-code-tabs .datalinq-code-tab .close-button {
                    position: absolute;
                    right: 4px;
                    top: 5px;
                    width: 20px;
                    height: 20px;
                    border-radius: 4px;
                    background-repeat: no-repeat;
                    background-position: center;
                }
