/*********  Typeahead **************/
.tt-menu {
    background-color: #555;
    border: 1px solid #e2e2e2;
    color: #efefef;
    width: 100%;
    margin-top: 5px;
    border-radius: 3px;
}

.webgis-modal-body .tt-menu {
    font-size: 1.7em;
}

.tt-suggestion {
    padding: 5px;
    border-bottom: 1px solid #e2e2e2;
}

    .tt-suggestion .tt-img {
        /*border:2px solid #337ab7;
    border-radius:3px;*/
    }

    .tt-suggestion .tt-content {
        padding: 0px 5px;
        text-align: left;
        width: 100%;
    }

.tt-content span.subtext {
    font-weight: normal;
}

.tt-suggestion:hover {
    background-color: #000;
    cursor: pointer;
}

.tt-suggestion.tt-cursor {
    background-color: #000;
}